.burger_filling {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 5px;
  overflow-y: auto;
  scrollbar-width: thin;

  .burger_ingridient {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
