.burger_constructor {
  max-height: 100%;
  display: grid;
  grid-template-rows: minmax(0, 1fr) min-content;
  overflow: hidden;

  .constructor_elements {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .burger_bun {
      padding-left: 32px;
    }
  }
}
