@import "@/styles/colors.scss";

.nav_list {
  display: flex;
  align-items: center;

  .list_item {
    display: flex;
    align-items: center;
    row-gap: 8px;
    color: #f2f2f2;

    .inactive_link {
      color: #8585ad;
    }
  }
}
