.container {
  height: calc(100% - var(--header-height));
  width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 320px 1fr;
  column-gap: 60px;
  padding-top: 120px;

  .list {
    &_item {
      height: 64px;
      display: flex;
      align-items: center;
      width: 100%;
      cursor: pointer;
    }
  }

  .form {
    text-align: center;
  }

  .buttons_group {
    display: flex;
    justify-content: end;
  }
}
