@import "./colors.scss";

html,
body {
  height: 100%;
  max-height: 100%;
}

#root {
  height: 100vh;
  max-height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-weight: 400;
  background-color: $main-bg;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
