.card {
  min-height: 208px;
  position: relative;
  cursor: pointer;

  .top_card {
    display: flex;
    flex-direction: column;
    align-items: center;

    .card_price {
      display: flex;
      align-items: center;
    }
  }

  .card_title {
    text-align: center;
    min-height: 48px;
  }
}
