@import "@/styles/colors.scss";

.header {
  height: 88px;
  background-color: $shark;

  .container {
    width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
